<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Logo</a>
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'chats' %}">Chats</a></li>
        </ul>
        <hr>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <h1>My Footer</h1>
    </footer>
</body>
</html>