{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    About MoGiBe
{% endblock %}
{% block content %}
<div class="small-container">
    <h1>Hellow, Here is Everything you need to know about MoGiBe!!!!</h1>
    <div class="body-contents">
        <div class="mogibe-logo">
            <img src="{% static 'img/logo.jpg' %}">
        </div>
        <div class="description">
            <p>Hello, here is a brief history about MoGiBe online shop, MoGiBe online shop is a group project that was designed by  <a href="#triop">three individuals</a>( who were basically students at the university of Embu). The idea of this online shop actually come about
                after the trio were asked to develpoe an E-Commers website by their lectuerer(Dkt. Consolata Gakii Email: gakii.embuni.ac.ke@gmail.com) and so after a deeep consultation, they came up with this so called MoGiBe(The name Simply is an abreviation of their names comined e.i <span class="m">Mo</span>ses<span class="g">Gi</span>deon<span class="b">Be</span>nson) online shop, therefore it was first developed in November 2021 as a group project(assignment to
                be submited for grading and so after the good work done the project was then turned to be applied in real life situation) and so it has been advancing with time to meet the market requirements not as a project to be submited for grading but as a real life application project 
                now.The project is still under maintainance and so we appologies for any inconvinence caused. The trio's profile is listed bellow.
            </p> 
        </div>
    </div>
    <div class="designers">
        <h1 id="triop">The Designers</h1>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'img/my_photo1.jpg' %}">
                <h3>Moses Nyanaro</h3>
                <hr>
                <div class="desingner-profile">
                     <p>University of Embu</p>
                     <p>Bsc. InfoTech</p>
                     <p>6-600 Embu Kenya</p>
                     <div class="social-media">
                         <p>Twitter: @Nyanaromose</p>
                         <p>Facebook: Moses</p>
                         <p>Instagram: Nyanaromose_2b</p>
                         <p>call: 0712345678</p>
                     </div>
                </div>
            </div>
            <div class="col-3">
                <img src="{% static 'img/my_photo1.jpg' %}">
                <h3>Benson Said</h3>
                <hr>
                <div class="desingner-profile">
                     <p>University of Embu</p>
                     <p>Bsc. InfoTech</p>
                     <p>6-600 Embu Kenya</p>
                     <div class="social-media">
                         <p>Twitter: @sidben</p>
                         <p>Facebook: Benson</p>
                         <p>Instagram: saidben_19</p>
                         <p>call: 0712345678</p>
                  </div>
                </div>
           </div>
           <div class="col-3">
             <img src="{% static 'img/my_photo1.jpg' %}">
             <h3>Gideon Kirui</h3>
             <hr>
             <div class="desingner-profile">
                  <p>University of Embu</p>
                  <p>Bsc. InfoTech</p>
                  <p>6-600 Embu Kenya</p>
                  <div class="social-media">
                      <p>Twitter:@thegideon's</p>
                      <p>Facebook: gideon</p>
                      <p>Instagram: gideonkirui_b</p>
                      <p>call: 0712345678</p>
               </div>
             </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}