{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Mogibe Help Desk
{% endblock %}
{% block content %}
<div class="body-Contents">
    <div class="col-1">
    </div>
    <div class="col-2">
        <div class="the-container">
            <h1>Here are some answers to the questions that might have been disturbing you</h1>
            <div class="quiz-box">
                <h2>More about MOGiBe</h2>
                <p class="hlp-msg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloremque, ipsa maiores id cupiditate, voluptas, quaerat assumenda nulla velit obcaecati neque consequuntur enim mollitia veniam in quidem omnis fugit nesciunt!</p>
            </div>
            <div class="quiz-box">
                <h2>How To Get Started with Mogibe</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloremque, ipsa maiores id cupiditate, voluptas, quaerat assumenda nulla velit obcaecati neque consequuntur enim mollitia veniam in quidem omnis fugit nesciunt!</p>
            </div>
            <div class="quiz-box">
                <h2>What Am I needed with to get started with MoGiBe?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloremque, ipsa maiores id cupiditate, voluptas, quaerat assumenda nulla velit obcaecati neque consequuntur enim mollitia veniam in quidem omnis fugit nesciunt!</p>
            </div>
            <div class="quiz-box">
               <h2>How Does MoGIbE operate?</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloremque, ipsa maiores id cupiditate, voluptas, quaerat assumenda nulla velit obcaecati neque consequuntur enim mollitia veniam in quidem omnis fugit nesciunt!</p>
            </div>
            <div class="quiz-box">
               <h2>Can I Trust MogIBe?</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloremque, ipsa maiores id cupiditate, voluptas, quaerat assumenda nulla velit obcaecati neque consequuntur enim mollitia veniam in quidem omnis fugit nesciunt!</p>
            </div>
            <div class="quiz-box">
               <h2>Can Someone sell products on MOgIbe site?</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloremque, ipsa maiores id cupiditate, voluptas, quaerat assumenda nulla velit obcaecati neque consequuntur enim mollitia veniam in quidem omnis fugit nesciunt!</p>
            </div>
            <div class="quiz-box">
               <h2>How Can I reach MOGIBE customer care?</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloremque, ipsa maiores id cupiditate, voluptas, quaerat assumenda nulla velit obcaecati neque consequuntur enim mollitia veniam in quidem omnis fugit nesciunt!</p>
            </div>
            <div class="quiz-box">
               <h2>Where is Gibe Located?</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloremque, ipsa maiores id cupiditate, voluptas, quaerat assumenda nulla velit obcaecati neque consequuntur enim mollitia veniam in quidem omnis fugit nesciunt!</p>
            </div>
            <p><a href="#">see more...</a></p>
        </div>
    </div>
</div>
{% endblock %}