{% load static %}
<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8" />
       <title>{% block title %}My shop{% endblock %}</title>
       <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="nav-bar">
            <div id="header">
                <a href="/" class="logo">
                    <img src="{% static 'img/logo.jpg' %}">
                </a>
            </div>
            <h1><span class="mo">Mo</span><span class="gi">Gi</span><span class="be">Be</span><span class="tech">.Tech</span></h1>
            <div id="subheader">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'shop:mogibe_help' %}">Help</a></li>
                    <li><a href="{% url 'shop:mogibe_about' %}">About</a></li>
                </ul>
                <div class="cart">
                    {% with total_items=cart|length %}
                        {% if total_items > 0 %}
                            Cart:
                            <a href="{% url 'cart:cart_detail' %}">
                                {{ total_items }} item{{ total_items|pluralize }}
                            </a>
                        {% else %}
                            Your cart is empty.
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            <div class="footer-content">
                <div class="quick-links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'shop:mogibe_help' %}">Help</a></li>
                        <li><a href="{% url 'shop:mogibe_about' %}">About</a></li>
                        <li><a href="{% url 'cart:cart_detail' %}">cart</a></li>
                    </ul>
                </div>
                <div class="social-media">
                    <h1>follow us on</h1>
                    <ul>
                        <li><a href="http://">Facebook</a></li>
                        <li><a href="http://">Twitter</a></li>
                        <li><a href="http://">Instergram</a></li>
                        <li><a href="http://">linked In</a></li>
                    </ul>
                </div>
                <div class="contacts">
                    <h1>Contact us</h1>
                    <ul>
                        <li>MosesNyanaroEmbu</li>
                        <li>GideonKiruiEmbu</li>
                        <li>SaidBensonEmbu</li>
                        <li>Embu, University of Embu</li>
                        <li>mogibtech@gmail.com</li>
                    </ul>
                </div>
                <div class="feedback">
                    <form action="">
                        <input class="email" type="email" placeholder="email" required>
                        <textarea name="" id="" cols="30" rows="10">leave a comment here</textarea>
                        <input class="btn" type="button" value="submit">
                    </form>
                </div>
            </div>
            <h5>copyright&copy;2021-Mogibe</h5>
        </footer>
    </body>
</html>